@import "~antd/dist/antd.css";
@import "~@fullcalendar/core/main.css";

.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: #c4c4c4;
  color: #333;
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: #c4c4c4;
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: blue;
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: #c8c8c8;
  color: #333;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: red;
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: green;
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Landing Page */
.landing {
  position: relative;
  background: url("./img/showcase.jpg") no-repeat center center/cover;
  height: 100vh;
}

.landing-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20%;
}

.x-large {
  font-size: 3rem;
  color: #fff;
}

.lead {
  font-size: 1.5rem;
  color: #ccc;
}

.large.text-primary {
  padding-top: 5rem;
}

/* Profile Section */

.profile-page {
  background-image: url("https://images.unsplash.com/photo-1557053819-aa6046add523?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 0 0;
  list-style: none;
}

.nav-item {
  padding: 0 15px 0 15px;
  font-size: 1.25rem;
}

.nav-link {
  color: #372924;
}

img {
  max-width: 100%;
  border-radius: 1px;
}

.img-raised {
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
}

.page-header {
  min-height: 650px;
}

.photo-container {
  width: 183px;
  height: 183px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
}

.title {
  text-align: center;
  margin-top: 30px;
  font-size: 2rem;
}

.description,
.category {
  text-align: center;
  font-size: 1.25rem;
  color: #000;
  font-weight: bold;
}

h5.description {
  max-width: 700px;
  margin: 20px auto 75px;
}

.nav-align-center {
  margin-top: 30px;
}

.content {
  max-width: 450px;
  margin: 0 auto;
}

.social-description {
  display: inline-block;
  max-width: 150px;
  width: 145px;
  text-align: center;
  margin: 15px 0 0px;
}

.social-description h2 {
  margin-bottom: 15px;
}

.social-description p {
  color: #111;
  font-size: 1.2rem;
}

/* Role Section */
.role_section {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.role_header {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  margin: 20px 0;
}

.role_header h1 {
  font-size: 1rem;
}

.role_list {
  padding: 0 15px;
}
